@import '../../scss/fonts.scss';

* {
  margin: 0;
}

// body {
//   // background-color: blue;
// }

.container {
  max-width: 650px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  border: black 1px solid;
  border-radius: 15px;
}