@import '../../scss/fonts.scss';

.header {
    background-color: green;
    font-family: Roboto, sans-serif;
    text-align: center;
    
  &__menu {
      background-color: violet;
      display: inline-block;
  }
}

li {
    list-style-type: none; 
    a {
        text-decoration: none;
      &:hover {
          text-decoration: underline;
      }
    }
}


